@import '../main.scss';

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  &__icon {
    width: 80px;
    height: 80px;
  }

  &__message {
    margin-top: 1em;
  }
}