@import '../main.scss';

.page-selector {
  &__text {
    padding: 0 10px;
  }

  &__text:hover {
    cursor: pointer;
    color: $primary-color;
  }

  &__text--actual {
    padding: 0 10px;
    color: $primary-color;
    font-weight: bold;
    background-color: $white-color;
    border: 1px solid $grey-color;
  }
}
