@import '../main.scss';

.section {
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $primary-color;
    color: $white-color;

    &__title {
      margin: auto;
      font-size: 35px;
      text-align: center;
    }
  }
}