@import './vars.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $text-font;
  color: $primaryBlack-color;
  background-color: $background-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

select,
input {
  border: 0.5px solid $grey-color;
  background-color: $white-color;
}
