@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap');

// Colors
$primary-color: #e63976;
$secondary-color: #f2f2f2;
$primaryBlack-color: #43434c;
$secondaryBlack-color: #37373e;
$grey-color: #f2f2f2;
$white-color: #ffffff;

//Fonts
$text-font: 'Sarabun', Helvetica, sans-serif;
